<!doctype html>
<html lang="en">

<head>
  <title>Acme Air</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
</head>

<body>
  <section class='container'>
    <div class="row">
      <br />
      <header>
        <img src="images/AcmeAir.png" alt="Acme Air" /><br />
        <div class="text-align: left">NEW >> Flights, Baggage, and Loyalty all with a Smile</div><br />
      </header>
      <div id="welcomeback">
        <div id="loggedinwelcome"></div>
      </div>
      <div id="main_content">

        <div class="content">
          <img src="images/acmeAirplane.png" alt="home" /><br />
          <h1 style="margin: 15px 0 0 0;">Welcome to Acme Air - v1.0.245</h1>
          <p>This is a sample application for performance testing of light weight app servers, partionable data storage,
            Web 2.0 and mobile on the cloud.</p>
        </div>
      </div>
      <form action="/todo" method="POST">
          <input type="text" placeholder="todo" name="todo" />
          <button id="btn">Add comment</button>
      </form>
      <form method="GET" action="/todos">
        <button>Try</button>
      </form>
    </div>

    <footer>
      <div class="logo"><a href="https://www.openshift.com/"></a></div>
    </footer>
  </section>
</body>

</html>